/*================
       按钮
 ================*/


/*===================
 ====默认按钮样式====*/

.m3ss-button {
    display: inline-flex;
    position: relative;
    height: 40px;
    border-radius: 40px;
    padding: 0 24px;
    margin: 4px;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: .3s;
}

.m3ss-button::after {
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    transition: .3s;
    content: "";
}

.m3ss-button::before {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -2;
    transition: .3s;
}

.m3ss-button *{
    pointer-events: none;
}

.m3ss-button:active:not(.disabled, .text, .elevated, .outlined, .fab, .icon) {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}


/*=======================
 ====Filled(default)====*/

.m3ss-button {
    color: var(--md-sys-color-on-primary);
}

.m3ss-button::after {
    background-color: var(--md-sys-color-on-primary);
    opacity: 0;
}

.m3ss-button::before {
    background-color: var(--md-sys-color-primary);
    opacity: 1;
}

.m3ss-button .m3ss-ripple {
    background-color: var(--md-sys-color-surface);
}


/*====================
 ====Filled-Tonal====*/

.m3ss-button.tonal {
    color: var(--md-sys-color-secondary);
}

.m3ss-button.tonal::after {
    background: var(--md-sys-color-on-secondary-container);
    opacity: 0;
}

.m3ss-button.tonal::before {
    background-color: var(--md-sys-color-secondary-container)
}

.m3ss-button.tonal .m3ss-ripple {
    background-color: var(--md-sys-color-on-surface);
}


/*================
 ====Elevated====*/

.m3ss-button.elevated {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    color: var(--md-sys-color-primary);
}

.m3ss-button.elevated::after {
    background-color: var(--md-sys-color-primary);
    opacity: 0;
}

.m3ss-button.elevated::before {
    background-color: var(--md-sys-color-primary);
    opacity: var(--md-sys-elevation-level1);
}

.m3ss-button.elevated .m3ss-ripple {
    background-color: var(--md-sys-color-primary);
}


/*================
 ====Outlined====*/

.m3ss-button.outlined {
    border: 1.5px solid var(--md-sys-color-outline);
    height: 37px;
    color: var(--md-sys-color-primary);
}

.m3ss-button.outlined::after {
    background: var(--md-sys-color-primary);
    opacity: 0;
}

.m3ss-button.outlined::before {
    background: none;
}

.m3ss-button.outlined .m3ss-ripple {
    background-color: var(--md-sys-color-primary);
}


/*============
 ====Text====*/

.m3ss-button.text {
    padding: 0 12px;
    color: var(--md-sys-color-primary);
    background: none;
}

.m3ss-button.text::after {
    background: var(--md-sys-color-primary);
    opacity: 0;
}

.m3ss-button.text::before {
    background: none;
}

.m3ss-button.text .m3ss-ripple {
    background-color: var(--md-sys-color-primary);
}


/*============================
 ====Common Btns With icon====*/

.m3ss-button.icon-left:not(.text) {
    padding-left: 16px;
}

.m3ss-button.icon-right:not(.text) {
    padding-right: 16px;
}

.m3ss-button.icon-left.text {
    padding-right: 16px;
}

.m3ss-button.icon-right.text {
    padding-right: 16px;
}

.m3ss-button.icon-left span {
    padding-right: 8px;
}

.m3ss-button.icon-right span {
    padding-left: 8px;
}


/*===========
 ====FAB====*/

.m3ss-button.fab {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    height: 24px;
    border-radius: 16px;
    padding: 16px;
    padding-right: 8px;
    color: var(--md-sys-color-on-primary-container);
    transition: .3s;
}

.m3ss-button.fab::before {
    background: var(--md-sys-color-primary-container);
}

.m3ss-button.fab::after {
    background-color: var(--md-sys-color-on-primary-container);
    opacity: 0;
}

.m3ss-button.fab label {
    max-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    transition: .2s;
}

.m3ss-button.fab span {
    transition: .3s;
    padding-right: 8px;
}


/*-clicked ripple-*/

.m3ss-button.fab .m3ss-ripple {
    background-color: var(--md-sys-color-on-primary-container);
}

.m3ss-button.fab.secondary .m3ss-ripple {
    background-color: var(--md-sys-color-on-secondary-container);
}

.m3ss-button.fab.tertiary .m3ss-ripple {
    background-color: var(--md-sys-color-on-tertiary-container);
}

.m3ss-button.fab.surface .m3ss-ripple {
    background-color: var(--md-sys-color-on-surface);
}


/*-color mappings-*/

.m3ss-button.fab.secondary {
    color: var(--md-sys-color-on-secondary-container);
}

.m3ss-button.fab.secondary::before {
    background-color: var(--md-sys-color-secondary-container);
}

.m3ss-button.fab.tertiary {
    color: var(--md-sys-color-on-tertiary-container);
}

.m3ss-button.fab.tertiary::before {
    background-color: var(--md-sys-color-tertiary-container);
}

.m3ss-button.fab.surface {
    color: var(--md-sys-color-primary);
}

.m3ss-button.fab.surface::before {
    background-color: var(--md-sys-color-surface);
}


/*==Extened FAB With Icon==*/

.m3ss-button.fab.extened-icon {
    padding-right: 16px;
}

.m3ss-button.fab.extened-icon span {
    padding-right: 10px;
}

.m3ss-button.fab.extened-icon label {
    max-width: 150px;
    min-width: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*==Extened FAB Without Icon==*/

.m3ss-button.fab.extened {
    padding-right: 16px;
}

.m3ss-button.fab.extened span {
    padding-right: 16px;
}

.m3ss-button.fab.extened label {
    max-width: none;
    white-space: nowrap;
    text-align: center;
    min-width: 48px;
}


/*===============
 ====Small-Fab==*/

.m3ss-button.fab.small span {
    padding: 0;
}

.m3ss-button.fab.small {
    border-radius: 12px;
    padding: 8px;
}

.m3ss-button.fab::after {
    border-radius: 12px;
}


/*===============
 ====Large-Fab==*/

.m3ss-button.fab.large {
    border-radius: 28px;
    padding: 30px;
    height: 36px;
}

.m3ss-button.fab.large span {
    font-size: 36px;
    padding: 0;
}


/*============
 ====Icon====*/

.m3ss-button.icon {
    height: 40px;
    width: 40px;
    color: var(--md-sys-color-on-surface-variant);
    padding: 0;
    justify-content: center;
    margin: 8px;
}

.m3ss-button.icon::before{
    background: none;
}

.m3ss-button.icon.selected {
    color: var(--md-sys-color-primary);
    
    font-variation-settings: 
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.m3ss-button.icon::after {
    background-color: var(--md-sys-color-on-surface-variant);
}

.m3ss-button.icon.selected::after {
    background-color: var(--md-sys-color-primary);
}

.m3ss-button.icon .m3ss-ripple {
    background-color: var(--md-sys-color-on-surface);
    filter: blur(5px);
}


/*==Outlined Icon==*/

.m3ss-button.icon.outlined {
    border: 1px var(--md-sys-color-outline) solid;
    color: var(--md-sys-color-on-surface-variant);
}

.m3ss-button.icon.outlined.selected{
    border: none;
    color: var(--md-sys-color-inverse-on-surface)
}

.m3ss-button.icon.outlined.selected::before{
    background-color: var(--md-sys-color-inverse-surface);
}

.m3ss-button.icon.outlined.selected .m3ss-ripple {
    background-color: var(--md-sys-color-inverse-on-surface);
}


/*==Filled Icon==*/

.m3ss-button.icon.filled {
    color: var(--md-sys-color-on-primary);
}

.m3ss-button.icon.filled::before{
    background-color: var(--md-sys-color-primary);
}

.m3ss-button.icon.filled.unselected{
    color: var(--md-sys-color-primary)
}

.m3ss-button.icon.filled.unselected::before{
    background-color: var(--md-sys-color-surface-variant);
}

.m3ss-button.icon.filled .m3ss-ripple {
    background-color: var(--md-sys-color-inverse-on-surface);
}

.m3ss-button.icon.filled.unselected .m3ss-ripple {
    background-color: var(--md-sys-color-on-surface);
}


/*==Filled Tonal Icon==*/

.m3ss-button.icon.tonal {
    color: var(--md-sys-color-on-secondary-container);
}

.m3ss-button.icon.tonal::before{
    background-color: var(--md-sys-color-secondary-container);
}

.m3ss-button.icon.tonal.unselected{
    color: var(--md-sys-color-primary)
}

.m3ss-button.icon.tonal.unselected::before{
    background-color: var(--md-sys-color-surface-variant);
}


/*==============
 ====Ripple====*/

.m3ss-button .m3ss-ripple {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: .2;
    filter: blur(10px);
    transition: .4s;
}


/*==================
 ====State-layers==*/

.m3ss-button:hover::after {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.m3ss-button:active::after {
    opacity: var(--md-sys-state-pressed-state-layer-opacity);
}

.m3ss-button:focus::after {
    opacity: var(--md-sys-state-focus-state-layer-opacity);
}


/*===============
 ====Disabled====*/

.m3ss-button.disabled,
.m3ss-button.fab.disabled {
    color: var(--md-sys-color-on-surface);
    opacity: 38%;
    box-shadow: none;
    cursor: not-allowed;
}

.m3ss-button.disabled::before,
.m3ss-button.fab.disabled::before {
    background-color: var(--md-sys-color-on-surface);
    opacity: 12%;
}

.m3ss-button.text.disabled::before {
    background: none;
}

.m3ss-button.disabled::after,
.m3ss-button.fab.disabled::after {
    content: "";
    background: none;
}